
.flex0 { 
    flex : 0.000000 ;
    }
    
    .flex1 { 
    flex : 0.010000 ;
    }
    
    .flex2 { 
    flex : 0.020000 ;
    }
    
    .flex3 { 
    flex : 0.030000 ;
    }
    
    .flex4 { 
    flex : 0.040000 ;
    }
    
    .flex5 { 
    flex : 0.050000 ;
    }
    
    .flex6 { 
    flex : 0.060000 ;
    }
    
    .flex7 { 
    flex : 0.070000 ;
    }
    
    .flex8 { 
    flex : 0.080000 ;
    }
    
    .flex9 { 
    flex : 0.090000 ;
    }
    
    .flex10 { 
    flex : 0.100000 ;
    }
    
    .flex11 { 
    flex : 0.110000 ;
    }
    
    .flex12 { 
    flex : 0.120000 ;
    }
    
    .flex13 { 
    flex : 0.130000 ;
    }
    
    .flex14 { 
    flex : 0.140000 ;
    }
    
    .flex15 { 
    flex : 0.150000 ;
    }
    
    .flex16 { 
    flex : 0.160000 ;
    }
    
    .flex17 { 
    flex : 0.170000 ;
    }
    
    .flex18 { 
    flex : 0.180000 ;
    }
    
    .flex19 { 
    flex : 0.190000 ;
    }
    
    .flex20 { 
    flex : 0.200000 ;
    }
    
    .flex21 { 
    flex : 0.210000 ;
    }
    
    .flex22 { 
    flex : 0.220000 ;
    }
    
    .flex23 { 
    flex : 0.230000 ;
    }
    
    .flex24 { 
    flex : 0.240000 ;
    }
    
    .flex25 { 
    flex : 0.250000 ;
    }
    
    .flex26 { 
    flex : 0.260000 ;
    }
    
    .flex27 { 
    flex : 0.270000 ;
    }
    
    .flex28 { 
    flex : 0.280000 ;
    }
    
    .flex29 { 
    flex : 0.290000 ;
    }
    
    .flex30 { 
    flex : 0.300000 ;
    }
    
    .flex31 { 
    flex : 0.310000 ;
    }
    
    .flex32 { 
    flex : 0.320000 ;
    }
    
    .flex33 { 
    flex : 0.330000 ;
    }
    
    .flex34 { 
    flex : 0.340000 ;
    }
    
    .flex35 { 
    flex : 0.350000 ;
    }
    
    .flex36 { 
    flex : 0.360000 ;
    }
    
    .flex37 { 
    flex : 0.370000 ;
    }
    
    .flex38 { 
    flex : 0.380000 ;
    }
    
    .flex39 { 
    flex : 0.390000 ;
    }
    
    .flex40 { 
    flex : 0.400000 ;
    }
    
    .flex41 { 
    flex : 0.410000 ;
    }
    
    .flex42 { 
    flex : 0.420000 ;
    }
    
    .flex43 { 
    flex : 0.430000 ;
    }
    
    .flex44 { 
    flex : 0.440000 ;
    }
    
    .flex45 { 
    flex : 0.450000 ;
    }
    
    .flex46 { 
    flex : 0.460000 ;
    }
    
    .flex47 { 
    flex : 0.470000 ;
    }
    
    .flex48 { 
    flex : 0.480000 ;
    }
    
    .flex49 { 
    flex : 0.490000 ;
    }
    
    .flex50 { 
    flex : 0.500000 ;
    }
    
    .flex51 { 
    flex : 0.510000 ;
    }
    
    .flex52 { 
    flex : 0.520000 ;
    }
    
    .flex53 { 
    flex : 0.530000 ;
    }
    
    .flex54 { 
    flex : 0.540000 ;
    }
    
    .flex55 { 
    flex : 0.550000 ;
    }
    
    .flex56 { 
    flex : 0.560000 ;
    }
    
    .flex57 { 
    flex : 0.570000 ;
    }
    
    .flex58 { 
    flex : 0.580000 ;
    }
    
    .flex59 { 
    flex : 0.590000 ;
    }
    
    .flex60 { 
    flex : 0.600000 ;
    }
    
    .flex61 { 
    flex : 0.610000 ;
    }
    
    .flex62 { 
    flex : 0.620000 ;
    }
    
    .flex63 { 
    flex : 0.630000 ;
    }
    
    .flex64 { 
    flex : 0.640000 ;
    }
    
    .flex65 { 
    flex : 0.650000 ;
    }
    
    .flex66 { 
    flex : 0.660000 ;
    }
    
    .flex67 { 
    flex : 0.670000 ;
    }
    
    .flex68 { 
    flex : 0.680000 ;
    }
    
    .flex69 { 
    flex : 0.690000 ;
    }
    
    .flex70 { 
    flex : 0.700000 ;
    }
    
    .flex71 { 
    flex : 0.710000 ;
    }
    
    .flex72 { 
    flex : 0.720000 ;
    }
    
    .flex73 { 
    flex : 0.730000 ;
    }
    
    .flex74 { 
    flex : 0.740000 ;
    }
    
    .flex75 { 
    flex : 0.750000 ;
    }
    
    .flex76 { 
    flex : 0.760000 ;
    }
    
    .flex77 { 
    flex : 0.770000 ;
    }
    
    .flex78 { 
    flex : 0.780000 ;
    }
    
    .flex79 { 
    flex : 0.790000 ;
    }
    
    .flex80 { 
    flex : 0.800000 ;
    }
    
    .flex81 { 
    flex : 0.810000 ;
    }
    
    .flex82 { 
    flex : 0.820000 ;
    }
    
    .flex83 { 
    flex : 0.830000 ;
    }
    
    .flex84 { 
    flex : 0.839999 ;
    }
    
    .flex85 { 
    flex : 0.849999 ;
    }
    
    .flex86 { 
    flex : 0.859999 ;
    }
    
    .flex87 { 
    flex : 0.869999 ;
    }
    
    .flex88 { 
    flex : 0.879999 ;
    }
    
    .flex89 { 
    flex : 0.889999 ;
    }
    
    .flex90 { 
    flex : 0.899999 ;
    }
    
    .flex91 { 
    flex : 0.909999 ;
    }
    
    .flex92 { 
    flex : 0.919999 ;
    }
    
    .flex93 { 
    flex : 0.929999 ;
    }
    
    .flex94 { 
    flex : 0.939999 ;
    }
    
    .flex95 { 
    flex : 0.949999 ;
    }
    
    .flex96 { 
    flex : 0.959999 ;
    }
    
    .flex97 { 
    flex : 0.969999 ;
    }
    
    .flex98 { 
    flex : 0.979999 ;
    }
    
    .flex99 { 
    flex : 0.989999 ;
    }
    
    .flex100 { 
    flex : 0.999999 ;
    }