.Complete-Story-Wrapper-x{
    display:flex;
    flex-flow: row wrap;
    padding:20px 20px;
    justify-content: center;
    align-items: center;
    width:80%;
    align-self: center;
    box-shadow: 4px 4px 10px hsl(0,0%,40%), -4px -4px 10px hsl(0,0%,40%)  ;
    margin-top: 10vh;
    margin-bottom: 10vh;
    flex:1;
    padding:40px 40px;
}
.Row-Holder-x{
    
}


.Complete-Story-Image-Holder-x{
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    margin-right: 40px;
}

.Complete-Story-Image-x{
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    float:left;
    align-self: flex-start;
    margin-right: 40px;
}


.Complete-Story-Title-Holder-x{
    max-width: 700px;
    width: 100%;
    transform: translateX(80px);
}

.Complete-Story-Title-x{
    font-size: 6vmin;
    font-weight: 600;
    max-width: 700px;
    width: 100%;
    left:130px;
    text-align: center;
}

.COmplete-Story-Description-Holder-x{
   margin-left: 40px;
}
.Complete-Story-Description-x{
    margin-left: 40px;
    font-size: 20px;
    font-weight: 520;
    text-align: justify;
}



