.Organ-Info-Wrapper{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 25vh;
}
.Organ-Info{
    flex-flow: column nowrap;
    display:flex;
    width: 100%;
    height: auto;

}
.Organ-Info-Image-Holder{
    border:black;
    width: fit-content;
}
.Organ-Info-Image{
   min-width: 200px;
   shape-outside: url(../../Images/HeartImage-Statistics.png);
   filter: drop-shadow(-5px -8px 20px rgba(0, 0, 0,0.5));
}
.Custom-Text-Holder{
    display:flex;
    flex-wrap:nowrap;
}
.Organ-Info-Title-Holder{
    display:flex;
    width: max-content;
    
}
.Organ-Info-Title{
    margin-right: 15px;
    margin-bottom: 17px;
    font-size: 5vmin;
    font-weight: 600;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.99;
    letter-spacing: 0.55mm;
    word-spacing: 2.4mm;
}

.Organ-Info-Row-Holder{
    display:flex;
    flex-flow: row nowrap;
    width: 100%;
}

.Organ-Info-Description-Holder{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 300px;
    width: 100%;
    margin-left: 30px;
}
.Organ-Info-Description{
    line-height: 1.45;
    letter-spacing: 0.35mm;
    word-spacing: 4.8mm;
    font-size: 2.8vmin;
    font-weight: 650;
}

@media only screen and (max-width:591px){
    .Organ-Info-Row-Holder{
        display:block;
    }
    }